@page "{channel?}"
@model EmoteTracker.Pages.TwitchChannelModel

@Html.DisplayFor(m => m.TwitchChannel.Id)
@Html.DisplayFor(m => m.TwitchChannel.DisplayName)

<table class="table">
    <thead>
        <tr>
            <th>Emote</th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelEmotes.ToList()[0].CanonicalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelEmotes.ToList()[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChannelEmotes.ToList()[0].EmoteType)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emote in Model.ChannelEmotes)
        {
            <tr>
                <td class="align-middle" style="width: 1px">
                    <img loading="lazy"
                         width="@emote.Width"
                         height="@emote.Height"
                         src="@emote.ImageUrl"
                         alt="@emote.CanonicalName emote in @Html.DisplayFor(modelItem => emote.EmoteType)"
                         title="@emote.CanonicalName emote in @Html.DisplayFor(modelItem => emote.EmoteType)" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emote.CanonicalName)
                </td>
                <td>
                    <a href="@emote.EmotePage" target="_blank" rel="noopener noreferrer"
                       title="Go to @emote.CanonicalName emote page in @Html.DisplayFor(modelItem => emote.EmoteType)">@Html.DisplayFor(modelItem => emote.Id)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => emote.EmoteType)
                </td>
            </tr>
        }
    </tbody>
</table>