@page "{channel?}"
@model EmoteTracker.Pages.TwitchChannelModel

<h1>@Html.DisplayFor(m => m.TrackedChannel.DisplayName)'s emotes</h1>

<p class="lead">Summary of the chat emotes from different extensions enabled in the channel.</p>

<p>Website maintained with ♥ by <a href="https://febog.com">febog</a>. Source can be found on <a href="https://github.com/febog/emote-tracker">GitHub</a>.</p>

<form method="post">
    <button type="submit" name="refresh" value="true" class="btn btn-primary mb-3">
        Refresh emotes
    </button>
</form>

<search>
    <form class="row row-cols-lg-auto g-3 align-items-center">
        <div class="col-12">
            <label for="table-search-input">Search:</label>
        </div>
        <div class="col-12 flex-grow-1">
            <input type="search" class="form-control" id="table-search-input" placeholder="Filter the table...">
        </div>
    </form>
</search>

<table class="table caption-top" id="emote-table">
    <caption>Showing <span id="visible-emotes-counter">@Html.DisplayFor(model => model.TrackedChannel.TrackedEmotes.Count)</span> emotes of @Html.DisplayFor(model => model.TrackedChannel.TrackedEmotes.Count).</caption>
    <thead>
        <tr>
            <th>Emote</th>
            <th>
                @Html.DisplayNameFor(model => model.TrackedChannel.TrackedEmotes[0].CanonicalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackedChannel.TrackedEmotes[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrackedChannel.TrackedEmotes[0].Type)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emote in Model.TrackedChannel.TrackedEmotes)
        {
            <tr>
                <td class="align-middle" style="width: 1px">
                    <img loading="lazy"
                         width="@emote.Width"
                         height="@emote.Height"
                         src="@emote.ImageUrl"
                         alt="@emote.CanonicalName emote in @Html.DisplayFor(modelItem => emote.Type)"
                         title="@emote.CanonicalName emote in @Html.DisplayFor(modelItem => emote.Type)" />
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => emote.CanonicalName)
                </td>
                <td class="align-middle">
                    <a href="@emote.EmotePage" target="_blank" rel="noopener noreferrer"
                       title="Go to @emote.CanonicalName emote page in @Html.DisplayFor(modelItem => emote.Type)">@Html.DisplayFor(modelItem => emote.Id)</a>
                </td>
                <td class="align-middle">
                    @Html.DisplayFor(modelItem => emote.Type)
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="module">
        import { filterTable } from "https://cdn.jsdelivr.net/npm/@@febog/table-filter@1.0.0/filter.js";
        const input = document.getElementById("table-search-input");
        input.addEventListener("input", e => filterTable("emote-table", e.target.value, "visible-emotes-counter"));
    </script>
}
